.wrapper {
   margin: 20px 60px;
   padding: 20px;
   //    border: 1px solid red;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .item {
      border: 5px solid rgb(79, 79, 230);
      height: 400px;
      width: 400px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
         font-size: 60px;
         color: rgb(79, 79, 230);
      }

      .box {
         width: 50px;
         height: 50px;
         background-color: rgb(79, 79, 230);
      }

      .red {
         background-color: rgb(238, 78, 78);
      }
   }

   .btn {
      margin-top: 20px;
      background-color: rgb(79, 79, 230);
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-weight: 600;
      width: 160px;
      height: 45px;
      border: none;
      border-radius: 15px;
   }

   .red {
      background-color: rgb(238, 78, 78);
   }
   .btn:hover {
      background-color: rgb(42, 42, 146);
      cursor: pointer;
   }
}
